<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>课程信息</title>
</head>
<body class="layui-layout-body">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>查询条件</legend>
</fieldset>
<form class="layui-form" action="" id="queryForm">
<div class="demoTable">
  课程名：
  <div class="layui-inline">
    <input class="layui-input" name="className" id="className" autocomplete="off">
  </div>
  <button class="layui-btn" type="button" onclick="queryApply()">搜索</button>
  
</div>
</form>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>课程信息</legend>
</fieldset>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
  </div>
</script>
<table class="layui-hide" id="test" lay-filter="test"></table>
</body>
<script th:src="@{/js/class/data3.js}"></script>
<script th:inline="javascript">

function query(){
	reload2("test",1,"");
}
/*查询按钮*/
function queryApply(){
	var params = $("#queryForm").serializeArray();  
    var values = {}; 
    for( x in params ){  
    	values[params[x].name] = params[x].value;  
    }  
    var stringObj = JSON.stringify(values)
    reload2("test",1,eval("("+stringObj+")"));
}
</script>
</html>
