<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>精武门</title>
  <link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">唐山精武门管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item leftdaohang" mytitle="主页" data-url="/user/tologin"><a href="">主页</a></li>
      <li class="layui-nav-item leftdaohang" mytitle="在线报名" data-url="/class/toClassOrder"><a href="">在线报名</a></li>
      <li class="layui-nav-item leftdaohang" mytitle="活动公告" data-url="/notice/toNoticeShow"><a href="">活动公告</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">俱乐部概况</a>
        <dl class="layui-nav-child">
          <dd class="leftdaohang" mytitle="俱乐部概况" data-url="/news/toNewsShow"><a href="">发展</a></dd>
          <dd class="leftdaohang" mytitle="俱乐部概况" data-url="/news/toNewsShow"><a href="">规模</a></dd>
          <dd class="leftdaohang" mytitle="俱乐部概况" data-url="/news/toNewsShow"><a href="">现状</a></dd>
          <dd class="leftdaohang" mytitle="俱乐部概况" data-url="/news/toNewsShow"><a href="">健身知识</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item leftdaohang" mytitle="课程信息" data-url="/class/toClassInfo"><a href="">课程信息</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;" id="userName" >
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
		  <span th:text="${user.username}"></span>
        </a>
      </li>
      <li class="layui-nav-item"><a href="/user/toExit">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">课程管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-nav-item leftdaohang"  mytitle="课程信息管理" data-url="/class/toClassMain"><a href="">课程信息管理</a></dd>
            <dd class="layui-nav-item leftdaohang"  mytitle="课程预定列表" data-url="/class/toClassOrderShow"><a href="">课程预定列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item leftdaohang"  mytitle="用户管理" data-url="/user/toUserMain"><a href="">用户管理</a></li>
        <li class="layui-nav-item leftdaohang"  mytitle="新闻管理" data-url="/news/toNewsUpdate"><a href="">新闻管理</a></li>
        <li class="layui-nav-item leftdaohang" mytitle="活动公告管理" data-url="/notice/toNoticeMain"><a href="">活动公告管理</a></li>
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">权限管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-nav-item leftdaohang"  mytitle="角色管理" data-url="/user/toUserRole"><a href="">角色管理</a></dd>
            <dd class="layui-nav-item leftdaohang"  mytitle="权限管理" data-url="/user/toRolePerssion"><a href="">权限管理</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;" id="bodyDiv">
    	<!-- 轮播图 -->
    	<div class="layui-carousel" id="test2" >
		  		<div carousel-item="">
		    		<div><img src="../upload/f.jpg" width="100%" height="100%"></div>
		    		<div><img src="../upload/c.jpg" width="100%" height="100%"></div>
		    		<div><img src="../upload/d.jpg" width="100%" height="100%"></div>
		    		<div><img src="../upload/a.jpg" width="100%" height="100%"></div>
		    		<div><img src="../upload/b.jpg" width="100%" height="100%"></div>
		  		</div>
		</div>
		<!-- 页面加载 -->
		<div id="pageHtml"></div>
    
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script th:src="@{/jquery/jquery-3.3.1.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/common/common.js}"></script>
<script th:inline="javascript">
var element,carousel,form,layer,table;
layui.use(['element','carousel','form','layer','table'], function(){
		  element = layui.element,carousel = layui.carousel,form = layui.form,layer=layui.layer,table = layui.table;
			//改变下轮播图时间间隔、动画类型、高度
			carousel.render({
			  elem: '#test2'
			  ,interval: 3000
			  ,anim: 'fade'
			  ,width: '100%'
			  ,height: '615px'
			});
  
			//点击事件
           $(".leftdaohang").click(function(){
			  //判断所属权限是否有该模块
			  var url=$(this).attr('data-url');
			  var mytitle=$(this).attr('mytitle');
			  //获取session里的权限信息
			  var permissionStr=[[${permissionStr}]];
			  var arr=permissionStr.split("#");
			  if(permissionStr==null){
				  window.top.layer.msg("登录信息过期，请重新登录");
				  return false;
			  }
			  if(mytitle=="主页"){
				  //页面清空
				  $('#pageHtml').empty();
				  //展示轮播图
				  $("#test2").css("display","block");
				  return false;
			  }else if(arr.indexOf(mytitle)==-1){
				  window.top.layer.msg("没有权限");
				  return false;
			  }else{
				  //页面清空
				  $('#pageHtml').empty();
				  //轮播图隐藏
				  $("#test2").css("display","none");
				  //加载页面
				  $('#pageHtml').load(url,function(){
					element.init();
				  });
				  return false;
			  }
			});
});
</script> 
</body>
</html>